<!-- src/app/movie/movie.component.html -->
<div>
  <h2>{{ movie.title }}</h2>
  <p>{{ movie.year }}</p>
  <button (click)="editMovie()">Editer</button>
  <button (click)="deleteMovie(movie.id)">Supprimer</button>
</div>

<div>
  <form [formGroup]="movieForm" (ngSubmit)="addMovie()">
    <div>
      <label for="title">Titre :</label>
      <input type="text" id="title" formControlName="title" />
    </div>
    <div>
      <label for="director">Réalisateur :</label>
      <input type="text" id="director" formControlName="director" />
    </div>
    <div>
      <label for="year">Année :</label>
      <input type="number" id="year" formControlName="year" />
    </div>
    <div>
      <label for="duration">Durée (minutes) :</label>
      <input type="number" id="duration" formControlName="duration" />
    </div>
    <button type="submit" [disabled]="!movieForm.valid">Ajouter</button>
  </form>
</div>

<div>
  <img src="attente.gif" alt="En attente..." />
</div>
<div *ngFor="let movie of movies">
  {{ movie.title }}
</div>
<app-movies-details></app-movies-details>
